// Bar Chart CSS Starts

.BarChart .ct-series-a .ct-bar:nth-of-type(4n + 1) {
  stroke: url(#gradient7);
}
.BarChart .ct-series-a .ct-bar:nth-of-type(4n + 2) {
  stroke: url(#gradient5);
}
.BarChart .ct-series-a .ct-bar:nth-of-type(4n + 3) {
  stroke: url(#gradient6);
}
.BarChart .ct-series-a .ct-bar:nth-of-type(4n + 4) {
  stroke: url(#gradient4);
}

.BarChartShadow {
  -webkit-filter: drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(
    0px 20px 8px rgba(0, 0, 0, 0.3)
  ); /* Same syntax as box-shadow, except 
                                                      for the spread property */
}

// Bar Chart CSS Ends
