// Widget line Chart CSS Starts

.WidgetlineChart .ct-point {
  stroke-width: 0px;
}
.WidgetlineChart .ct-line {
  stroke: #fff;
}

.WidgetlineChart .ct-grid {
  stroke-dasharray: 0px;
  stroke: rgba(255, 255, 255, 0.2);
}

.WidgetlineChartshadow {
  -webkit-filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(
    0px 15px 5px rgba(0, 0, 0, 0.5)
  ); /* Same syntax as box-shadow, except 
                                                      for the spread property */
}

// Widget line Chart CSS Ends
