// Line with Area Chart CSS Starts

.lineArea .ct-series-a .ct-area {
  fill-opacity: 0.7;
  fill: url(#gradient1) !important;
}

.lineArea .ct-series-b .ct-area {
  fill: url(#gradient) !important;
  fill-opacity: 0.9;
}
.lineArea .ct-line {
  stroke-width: 0px;
}
.lineArea .ct-point {
  stroke-width: 0px;
}

// Line with Area Chart 1 CSS Ends
