ol.progtrckr {
  list-style-type: none;
  padding: 0;
  display: table;
  width: 100%;
  table-layout: fixed;
}

ol.progtrckr li {
  position: relative;
  display: table-cell;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
  display: block;
  padding-top: 55px;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  font-style: normal;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -24px;
  z-index: 10;
  text-align: center;

  width: 50px;
  height: 50px;
  line-height: 40px;
  border: 5px solid #f5f7fa;
  font-size: 1.3rem;
  border-radius: 50%;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  em {
    border-color: #00b5b8;
    background-color: #fff;
    color: #00b5b8;
  }
  &:before,
  &:after {
    background-color: #00b5b8;
  }
}

ol.progtrckr li.progtrckr-done {
  color: black;
  em {
    border-color: #00b5b8;
    background-color: #fff;
    color: #00b5b8;
  }
  &:before,
  &:after {
    background-color: #00b5b8;
  }
}

ol.progtrckr li:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
  right: 0;
}

ol.progtrckr li:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 9;
  left: 0;
}
ol.progtrckr li:after,
ol.progtrckr li:before {
  top: 22px;
  width: 50%;
  height: 5px;
  background-color: #f5f7fa;
}
