.loadingSpinner {
  width: 100%;
  height: 85%;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background-color: whitesmoke;
  opacity: 0.5;
}
