.form-background {
  background-image: url("../../../img/bkgs/bckg-home-titulo.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.logo-form {
  margin-top: 18px;
  width: 240px;
}

.small-logo-form {
  margin: 18px;
  width: 180px;
}

.form-title {
  margin-top: 20px;
}

.form {
  margin-top: 40px;
}
